<a href="https://colab.research.google.com/github/hanene2030/pandas/blob/main/1_loading_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Loading data

In [1]:
import numpy as np
import pandas as pd
import pickle
filename = "heart.csv"

# The best method - pandas read_csv

In [2]:
df = pd.read_csv(filename)
df.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

# Using numpy's loadtxt and genfromtxt

In [3]:
data = np.loadtxt(filename , delimiter=",", skiprows=1)
print(data)

[[63.  1.  3. ...  0.  1.  1.]
 [37.  1.  2. ...  0.  2.  1.]
 [41.  0.  1. ...  0.  2.  1.]
 ...
 [68.  1.  0. ...  2.  3.  0.]
 [57.  1.  0. ...  1.  3.  0.]
 [57.  0.  1. ...  1.  2.  0.]]

In [4]:
data = np.genfromtxt(filename , delimiter=",", dtype=None, names=True , encoding="utf-8-sig"  )
print( data.dtype)
#print(data)

[('age', '<i8'), ('sex', '<i8'), ('cp', '<i8'), ('trestbps', '<i8'), ('chol', '<i8'), ('fbs', '<i8'), ('restecg', '<i8'), ('thalach', '<i8'), ('exang', '<i8'), ('oldpeak', '<f8'), ('slope', '<i8'), ('ca', '<i8'), ('thal', '<i8'), ('target', '<i8')]

# Manual loading
### For completly weird file structure

In [5]:
def load_file(filename):
  with open(filename, encoding="utf-8-sig") as f:
    data,cols=[],[]
    for i,line in enumerate(f.read().splitlines()):
      if i == 0:
        cols += line.split(",")
      else:
        data.append([float(x) for x in line.split(',')])
    df = pd.DataFrame(data, columns=cols)
  return df

load_file(filename).head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,3.0,145.0,233.0,1.0,0.0,150.0,0.0,2.3,0.0,0.0,1.0,1.0
1,37.0,1.0,2.0,130.0,250.0,0.0,1.0,187.0,0.0,3.5,0.0,0.0,2.0,1.0
2,41.0,0.0,1.0,130.0,204.0,0.0,0.0,172.0,0.0,1.4,2.0,0.0,2.0,1.0

# Pickles

In [6]:
df = pd.read_pickle("heart.pkl")

In [7]:
df.head(3)

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1

In [8]:
df.to_csv("heart_from_pkl.csv")